exportPattern("^[^\\.]")
importFrom(utils,head,tail)
importFrom(cubature,adaptIntegrate)
exportMethods(show,Arith)
import("methods")
import("mvtnorm")
import("aylmer")
import("abind")

importFrom("graphics", "contour", "image", "segments", "text")
importFrom("stats", "cov", "nlm", "optim", "quantile", "runif")
